
*
!salpakan.html
!server.js
!assets/
!assets/**/*
!js
!js/**/*
!page.html
!game.html
!index.html
!release/
!release/**/*
!app-debug.apk
!lib/
!lib/**/*
!android/app/build/outputs/apk/debug/**/*
!android/app/build/outputs/apk/debug/
!android/app/build/outputs/apk/debug/app-debug.apk
